@media (prefers-color-scheme: light) {
  :root {
    --color-main-background: #ffffff;
    --color-text: #213547;
    --color-button-background: #213547;
    --color-card-background: #ececec;
    --color-accent: #CE7432;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main-background: #242424;
    --color-text: rgba(255, 255, 255, 0.87);
    --color-button-background: rgba(255, 255, 255, 0.87);
    --color-card-background: #3c3c3c;
    --color-accent: #CE7432;
  }
}
